.cabeçalho {
    background-color: #2D8283;
    display: flex;
    padding: 24px 0;
    justify-content: center;
    }

.cabeçalho-título {
    color: #FA725A;
}

.cabeçalho-lista {
    color: white;
}

.cabeçalho-imagem {
    width: 12%;
}.cabeçalho {
    background-color: #5F0F40;
    }