.cabeçalho {
    background-color: #5F0F40;
    }

.cabeçalho-título {
    color: #FA725A;
}

.cabeçalho-lista {
    color: white;
}

.cabeçalho-imagem {
    width: 10%;
}.cabeçalho {
    background-color: #5F0F40;
    }

.cabeçalho-título {
    color: #FA725A;
}

.cabeçalho-lista {
    color: white;
}

.cabeçalho-imagem {
    width: 10%;
}